
<% unless comment.parent_id || !comment.persisted? %>
    <% time = ""%>
    <% if comment.created_at > Time.now.beginning_of_day %>
        <% time = "#{time_ago_in_words(comment.created_at)} ago" %>
    <% else %>
        <% time = "#{comment.created_at.strftime('%b %d, %Y')}" %>
    <% end %>
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <%= image_tag user_avatar(User.find(comment.user_id), 60)%>                
                </div>
                <div class="media-content">
                    <div class="has-text-weight-semibold"><%= link_to "#{User.find(comment.user_id).username}", user_path(comment.user_id) %></div>
                    <div class="content mb-1">
                        <%= comment.body %>
                    </div>
                    <span class="is-size-7 has-text-weight-light"><%= time %></span>
                    <%= link_to 'reply', new_post_comment_path(@post, parent_id: comment.id), remote: true, class: 'is-size-7 ml-2' %> 
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-fullwidth ml-3">
            <div id="reply-form-<%= comment.id %>"></div> 
        </div>              
    </div>      

    <div class="columns">
        <div class="column is-one-fifth"></div>
        <div class="column p-0">
            <% if comment.replies.any? %>
                <% comment.replies.each do |reply| %>
                    <%= render partial: 'comments/reply', locals: { reply: reply} %>
                <% end %>
            <% end %>
        </div>
    </div>
    
<% end %>

