<%= link_to post_path(post), class: 'is-info' do %>
        <div class="container">
            <div class="hero">
                <div class="hero-body">
                    <p class="title is-size-4"><%= User.find(post.user_id).username %></p>                    
                    <% if post.created_at > Time.now.beginning_of_day %>
                        <p class="subtitle is-size-6"><%=" #{time_ago_in_words(post.created_at)} ago"%></p>
                    <% else %>
                        <p class="subtitle is-size-6"> on <%= post.created_at.strftime('%b %d, %Y') %></p>
                    <% end %>
                    <p class="content" ><%= post.body %></p>
                    <span class="is-size-7"><%= post.likes.size %> <%= (post.likes.size) == 1 ? 'Like' : 'Likes' %></span>    
                    <span class="is-size-7"><%= post.comments.size %> <%= (post.comments.size) == 1 ? 'Comment' : 'Comments' %></span>    
                </div>              
            </div>
        </div>        
<% end %>